@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500:1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Cruinn";
    src: url(fonts\Cruinn.ttf);
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: #FCDEAC;
}

body a{
    text-decoration: none;
    color: black;
}

header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header nav{
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

header a{
    font-family: "Cruinn";
    font-size: 2.5vw;
}

header a:nth-child(1){
    text-decoration: underline;
}

.main_title{
    background-color: #FCE4D8;
    width: 38vw;
    height: 23vw;
    border-radius: 12px;
    border: #001858 solid 4px;
}

.main__container{
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}

.main_links{
    display: grid;
    grid-template-columns: repeat(3, 11vw);
    grid-template-rows: repeat(4, 11vw);
    gap: 2vw;
    grid-template-areas: 
    "block1 block1 block2"
    "block1 block1 block3"
    "block4 block5 block6"
    "block7 block7 block6";
}

.block{
    background-color: #FCE4D8;
    border-radius: 12px;
    border: #001858 solid 0.4vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.250);
    cursor: pointer;
}

.block:hover{
    animation: upper-transit 1s 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes upper-transit{
    30% {
        transform: translateY(-3px);
    }
    50%{
        transform: translateY(-4px);
    }
    70%{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(-6px);
    }
}

.block1{
    grid-area: block1;
    background-image: url(../images/big_block-cat.png);
    background-size: cover;
    cursor: pointer;
}
 
.block2{
    grid-area: block2;
    background-color: #1C1F23;
    background-image: url(../images/github.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
 
.block3{
    grid-area: block3;
    background-image: url(../images/discord.jpg);
    background-size: cover;
    border: none;
}
 
.block4{
    grid-area: block4;
    background-color: #1f1f1f;
    background-image: url(../images/DA.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}
 
.block5{
    grid-area: block5;
    background-color: #5aade0;
    background-image: url(../images/telegram.svg);
    background-size: cover;
    border: none;
}
 
.block6{
    grid-area: block6;
    background-image: url(../images/long_block-cat.png);
    background-size: cover;
    cursor: pointer;
}

.block7{
    grid-area: block7;
}
 
.block7-p{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-size: 1.3vw;
    margin-left: 3%;
}