@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: "Cruinn";
    src: url(fonts\Cruinn.ttf);
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: #FCDEAC;
}

body a{
    text-decoration: none;
    color: black;
}

header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header nav{
    padding-top: 1%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

header a{
    font-family: "Cruinn";
    font-size: 32px;
}

header a:nth-child(2){
    text-decoration: underline;
}

